<h1>My Dashboard</h1>

<h2>All games currently in progress</h2>

		<h3 class="text-center">
		<%= link_to "View all games", games_path %></h3>
		<br />
	 	<hr />

	<h2>Games I am currently playing...</h2>
	<% @games.each do |game| %>

		<%-# games player is participating in #-%>
		
		<%= link_to "View my current game", game_path(game) %>
		<br /> 
	<% end %>

		<hr />
		<%-# Creating a new game #-%>
		<h2>Start a New Game</h2>
		<%= link_to "New Game", new_game_path %>
	
