<h1>My Dashboard</h1>

<h2>All games currently in progress</h2>

	<% @games.each do |game| %>
		<h3 class="text-center">
		<%= link_to "View all games", games_path(game) %></h3>
		<br />
	 	<hr />
	<% end %>
	
<%-# commenting block out until fixed 7-3-15 #-%>	
<% if false %>
		<%-# games player is participating in #-%>
		<h2>Games I am currently playing...</h2>
		<%= link_to "View my current game", game_path(@current_game.player_white) %> 

		<hr />

		<%-# games player is watching #-%>
		<h2>Games I am watching...</h2>
		<%= link_to "Watch another game", game_path(@current_game.player_white) %> 

		<hr />
		<%-# Creating a new game #-%>
		<h2>Start a New Game</h2>
		<%= link_to "New Game", new_game_path %>
<% end %>	
